<div
  class="bg-cover bg-center h-screen flex justify-center"
  style="background-image: url('../../../../assets/adv-aseets/mvp-banner.png')"
>
  <div class="h-max py-12 flex flex-col gap-12 items-center text-white">
    <h1 class="font-quattrocento text-5xl font-semibold">
      Teknolojik Yemekler
    </h1>
    <div class="flex flex-col items-center">
      <p class="text-sari font-satisfy text-2xl">firsati Kacirma</p>
      <p class="text-5xl font-extralight">KOD ACIKTIRIR</p>
      <p class="text-5xl font-extralight">PIZZA,DOYURUR</p>
    </div>
    <button
      routerLink="/pizza"
      type="button"
      class="bg-sari w-[30%] py-2 rounded-3xl text-sm text-black"
    >
      ACIKTIM
    </button>
  </div>
</div>
