<div class="w-full flex justify-center font-quattrocento">
  <div class="w-2/5 my-8 flex flex-col gap-10">
    <h2 class="text-xl tracking-wide font-semibold">
      Position Absolute Aci Pizza
    </h2>
    <div class="flex items-center justify-between">
      <p class="text-2xl font-bold w-3/5">85.50₺</p>
      <div class="text-acikGri flex w-2/5 justify-between">
        <p>4.9</p>
        <p>(200)</p>
      </div>
    </div>
    <p class="text-acikGri">
      Frontend geliştirici olarak hala position:absolute kullanıyorsan,
      gerçekten de pizza tam sana göre! Pizza, domates, peynir ve genellikle
      çeşitli diğer malzemelerle kaplanmış, daha sonra geleneksel olarak odun
      ateşinde yüksek sıcaklıkta pişirilen, genellikle yuvarlak, düzleştirilmiş
      mayalı buğday bazlı hamurdan oluşan İtalyan kökenli lezzetli bir yemektir.
      Küçük bir pizzaya bazen "pizzetta" denir.
    </p>
    <app-formdetail></app-formdetail>
  </div>
</div>
